ul{
    display: flex;
    
}
ul li{
    list-style: none;
    /* margin-left: 5%; */
}
.mycard{
    background-color: #F4F6FA;
    background: #F4F4F4;

}
.mapsection{
    background: #F4F4F4;

}
.secta{
    background-color: #FFFFFF;
}
li{
    list-style: none;
}

.footerbg{
    background-color: #1A1A1A;
}

.navli li{
        
}